*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
  width: fit-content;
  color: black;
}

img {
  max-width: 100%;
}

p {
  line-height: 2.5rem;
}

button,
input[type='submit'] {
  cursor: pointer;
}

textarea,
input {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  padding: 0.05px 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: #2b2929;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 0.3em 0.4em;
  font-size: 1.4rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -28px;
  left: 10px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.stars-list {
  display: flex;
}

.rate-link,
.reviews-link,
.active-page-link,
.see-more-link,
.gateway-wrapper .gateway-para .signin-link,
.gateway-wrapper .gateway-para .signup-link {
  color: #dc1f1f;
  text-decoration: underline;
}

.rate-link,
.reviews-link {
  font-weight: 500;
}

.reviews-wrapper .breadcrumbs,
.rate-wrapper .breadcrumbs,
.review-wrapper .breadcrumbs {
  margin: 2em auto 0 auto;
}

.reviews-wrapper h2,
.software-details-wrapper h2 {
  font-size: 2.2rem;
  font-weight: 500;
}
.reviews-wrapper .reviews,
.software-details-wrapper .reviews {
  max-width: 550px;
  margin-bottom: 2em;
}
.reviews-wrapper .reviews .reviews-heading,
.software-details-wrapper .reviews .reviews-heading {
  margin-bottom: 0.6em;
}
.reviews-wrapper .reviews .ask-for-review-para,
.software-details-wrapper .reviews .ask-for-review-para {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-bottom: 0.6em;
}
.reviews-wrapper .review,
.software-details-wrapper .review {
  margin-top: 2em;
  background-color: #f8fbf8;
  border-radius: 7px;
  padding: 1em;
}
.reviews-wrapper .review .see-more-link,
.software-details-wrapper .review .see-more-link {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 1em;
}
.software-details-wrapper .reviews .reviews-qty,
.reviews-wrapper .reviews .reviews-qty {
  font-weight: 700;
  margin-right: 0.2em;
}
.reviews-wrapper .review__info,
.software-details-wrapper .review__info,
.review-wrapper .review__info {
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  align-items: baseline;
}
.reviews-wrapper .review__info .review-date,
.review-wrapper .review__info .review-date,
.software-details-wrapper .review__info .review-date {
  font-size: 1.25rem;
  margin-left: 3em;
  font-weight: 400;
}
.reviews-wrapper .review__info span,
.review-wrapper .review__info span,
.software-details-wrapper .review__info span {
  display: inline-block;
}
.reviews-wrapper .review__rating-type,
.review-wrapper .review__rating-type,
.software-details-wrapper .review__rating-type {
  margin: 0.35em 0;
}
.reviews-wrapper .review__rating-type .rating-qty,
.review-wrapper .review__rating-type .rating-qty,
.software-details-wrapper .review__rating-type .rating-qty {
  font-size: 2rem;
}
.reviews-wrapper .review__rating-type img,
.review-wrapper .review__rating-type img,
.software-details-wrapper .review__rating-type img {
  width: 13.6px;
  margin-left: 0.3em;
}
.reviews-wrapper .review__para,
.review-wrapper .review__para,
.software-details-wrapper .review__para {
  font-size: 1.5rem;
}

.reviews-wrapper .software,
.rate-wrapper .software,
.review-wrapper .software {
  margin: 2.3em auto;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: auto auto;
  grid-gap: 0 1.5em;
  width: fit-content;
}
.reviews-wrapper .software__logo,
.rate-wrapper .software__logo,
.review-wrapper .software__logo {
  width: min(80px, 20vw);
  min-width: 55px;
}
.reviews-wrapper .software__name,
.rate-wrapper .software__name,
.review-wrapper .software__name {
  font-weight: 700;
  font-size: clamp(1.7rem, 5vw, 2rem);
  line-height: clamp(1.8rem, 6vw, 2.5rem);
}
.reviews-wrapper .software__developer,
.rate-wrapper .software__developer,
.review-wrapper .software__developer {
  font-size: 1.3rem;
}
.review-wrapper .back-link,
.gateway-wrapper .back-link {
  font-size: 1.4rem;
  font-weight: 700;
  color: #dc1f1f;
  display: flex;
  align-items: center;
  margin: 0 0 1.3em -0.3em;
}
.pages {
  text-align: center;
  margin-top: 2.5em;
}
.pages__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}
.pages__list .page,
.pages__list .page--clickable {
  border-radius: 4px;
  min-height: 35px;
  min-width: 36px;
  text-align: center;
  border: 1px solid black;
  font-weight: 700;
  background: white;
}
.pages__list .page--clickable:hover {
  background-color: #e5e5e5;
}
.pages__list .active-page {
  background-color: #dc1f1f;
  color: white;
}
.pages__list .active-page:hover {
  background-color: #dc1f1f;
}
.pages__list li + li {
  margin-left: 0.4em;
}
.pages__list img {
  min-width: 9px;
}
.pages__info {
  font-size: 1.4rem;
}
.pages__info__total-pages {
  font-weight: 700;
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 2em;
}
.breadcrumbs > * + * {
  margin-left: 0.4em;
}
.breadcrumbs .page-link {
  white-space: nowrap;
}
.main-wrapper .software a,
.past-review__software {
  color: black;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-gap: 1em 1.1em;
}

/*=========================
    Main Page Styling
=========================*/
.main-header {
  padding: 0.8em 0;
  font-size: 1.4rem;
  background-color: #3f3d3d;
  margin-bottom: 2em;
}

.main-header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .signin-link,
.main-header .home-link {
  color: white;
}
.main-header .account-container {
  position: relative;
}
.main-header .account {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
.main-header .avatar-container {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
  background-color: white;
}
.main-header .account__options {
  background-color: #3f3d3d;
  padding: 1.5em 1.5em;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  right: -25px;
  z-index: 12;
  width: 130px;
  box-shadow: 0px 16px 24px 2px rgb(25 25 25 / 18%);
}
.main-header .account__options a {
  color: white;
}
.main-header .account__options .signout-link {
  display: flex;
}
.main-header .account__options .signout-link img {
  margin-left: 0.4em;
}
.main-header .account__options li + li {
  margin-top: 1.2em;
}
.main-header header .signin-link {
  font-weight: 700;
  font-size: 1.4rem;
}
.main-wrapper .search {
  position: relative;
  margin: 0 auto;
  width: 300px;
}
.main-wrapper .search__img {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  border-radius: 9px 0 0 9px;
  color: #adadad;
  font-size: 2.1rem;
}

.main-wrapper .search input {
  padding: 0.9em 1em 0.9em 3.5em;
  border: 0.5px solid #000000;
  border-radius: 5px;
  width: 100%;
  font-size: 1.5rem;
}
.main-wrapper .search input::placeholder {
  color: #5e5e5e;
  font-weight: 300;
  font-size: 1.3rem;
}

.main-wrapper .no-results-msg {
  font-size: 2rem;
  text-align: center;
  margin-top: 2em;
}
.main-wrapper .softwares-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em 1em;
  margin: 3em 0;
}
.main-wrapper .software a {
  padding: 1em;
  width: 100%;
}
.main-wrapper .software a:hover {
  box-shadow: 0px 0px 10px 0px #d2d2d2;
  transform: translateY(-1px);
  transition: all 0.2s ease-out;
}
.main-wrapper .software__logo {
  width: clamp(60px, 4.5vw, 75px);
}
.main-wrapper .software__details {
  padding-top: 0.8em;
}
.main-wrapper .software__details p {
  line-height: 2.35rem;
}
.main-wrapper .software__name {
  font-weight: 700;
  font-size: clamp(1.75rem, 1.4vw, 2rem);
}
.main-wrapper .software__developer {
  font-size: clamp(1.4rem, 1vw, 1.6rem);
  font-weight: 400;
}
.main-wrapper .software .stars-list {
  grid-column: 1/-1;
}
.main-wrapper .software .stars-list .star {
  width: 19px;
  height: 18px;
}
.main-wrapper .software .stars-list .star + .star {
  margin-left: 0.3em;
}
.main-wrapper .pages {
  margin-bottom: 2.5em;
}

/*====================================
    Software Details Page Styling
====================================*/
.software-details-wrapper .software {
  margin: 2.5em 0;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: auto auto;
  grid-gap: 0.4em 1.5em;
  max-width: 550px;
}
.software-details-wrapper .software__logo {
  width: min(120px, 20vw);
  min-width: 70px;
  height: 120px;
}
.software-details-wrapper .software__name {
  font-weight: 700;
  font-size: clamp(1.6rem, 4.2vw, 3rem);
  line-height: clamp(1.8rem, 4.2vw, 3.2rem);
  margin-bottom: 0.2em;
}
.software-details-wrapper .software__developer {
  font-size: clamp(1.4rem, 3vw, 1.6rem);
}
.software-details-wrapper .software .feedback-content {
  grid-column: 2/-1;
  display: flex;
  align-items: baseline;
}
.software-details-wrapper .software .feedback-content .feedback {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  grid-gap: 0 0.9em;
}
.software-details-wrapper .software .feedback-content .feedback__rating img {
  width: 13.6px;
  height: 12.8px;
  margin-left: 0.2em;
}
.software-details-wrapper .software .feedback-content .rating-qty,
.software-details-wrapper .software .feedback-content .reviews-qty {
  font-weight: 700;
  font-size: 2rem;
}
.software-details-wrapper .software .feedback-content .reviews-qty {
  margin-right: 0.2em;
}
.software-details-wrapper .software .feedback-content .rate-link {
  margin-left: 5.2em;
}
.software-details-wrapper .software-description-and-rating {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1280px;
  margin-bottom: 2.5em;
}
.software-details-wrapper .software-description {
  max-width: 550px;
}
.software-details-wrapper .software-description h2 {
  margin-bottom: 0.4em;
}
.software-details-wrapper .software-rating {
  margin-left: 5em;
  max-width: 300px;
}
.software-details-wrapper .software-rating .average-rating {
  display: flex;
  align-items: baseline;
  margin: 0.4em 0 0.7em 0;
}
.software-details-wrapper .software-rating .rating-qty {
  font-size: 3rem;
  font-weight: 700;
}
.software-details-wrapper .software-rating .stars-list {
  margin-left: 1.6em;
}
.software-details-wrapper .software-rating .stars-list .star {
  width: 100%;
}
.software-details-wrapper .software-rating .stars-list li {
  width: 25.5px;
  height: 21.8px;
}
.software-details-wrapper .software-rating .stars-list li + li {
  margin-left: 0.6em;
}
.software-details-wrapper .software-rating .rating {
  display: grid;
  align-items: baseline;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
}
.software-details-wrapper .software-rating .rating .rating-qty {
  font-size: 2.1rem;
  font-weight: 400;
}
.software-details-wrapper .software-rating .rating__type img {
  width: 13px;
  height: 12px;
  margin-left: 0.3em;
}
.software-details-wrapper .software-rating .rating__growth {
  height: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
}
.software-details-wrapper .software-rating .rating__growth__line {
  background: #dc1f1f;
  height: 14px;
  border-radius: 3px 0 0 3px;
}

.software-details-wrapper .software-rating .rating + .rating {
  margin-top: 0.4em;
}
.software-details-wrapper .reviews__list {
  margin-bottom: 2em;
}
.software-details-wrapper .reviews .review-feedback-content {
  display: flex;
  align-items: baseline;
  margin-top: 1.5em;
  font-size: 1.8rem;
}
.software-details-wrapper .reviews .review-feedback-content .reviews-link {
  margin-left: 2.8em;
  font-size: 1.5rem;
}

/*============================
    Reviews Page Styling
==============================*/

.reviews-wrapper .reviews {
  margin: 0 auto 2em auto;
  max-width: 600px;
}
.reviews-wrapper .reviews .rate-link {
  font-size: 1.4rem;
}
.reviews-wrapper .reviews .reviews__info {
  display: flex;
  align-items: baseline;
  margin-top: 2em;
  font-size: 1.8rem;
}
.reviews-wrapper .filter-rating-form {
  margin-left: 2em;
}
.reviews-wrapper .filter-rating-form label {
  font-size: 1.4rem;
  font-weight: 700;
}
.reviews-wrapper .filter-rating-form select {
  padding: 0.2em 0.5em;
  margin-left: 0.5em;
  width: 130px;
  border-radius: 4px;
}
.reviews-wrapper .review__para {
  font-size: clamp(1.5rem, 4.5vw, 1.6rem);
}

.reviews-wrapper .no-reviews-msg {
  margin-top: 2em;
  font-size: 1.6rem;
  font-weight: 500;
}
.reviews-wrapper .no-reviews-msg span {
  color: #dc1f1f;
  font-weight: 900;
}
/*===================================
    (Single) Review Page Styling
=====================================*/
.review-wrapper {
  max-width: 550px;
}
.review-wrapper .review {
  margin: 0 auto 2em auto;
}

/*========================
    Rate Page Styling
==========================*/
.rate-wrapper {
  max-width: 500px;
}
.rate-wrapper .software {
  margin: 2.5em 0;
}
.rate-wrapper .rate h2 {
  font-size: 3rem;
  font-weight: 400;
}
.rate-wrapper .rate .stars-list {
  margin: 0.5em 0 1.5em 0;
}
.rate-wrapper .rate .stars-list li + li {
  margin-left: 1em;
}
.rate-wrapper .rate .stars-list .star {
  width: 39px;
  min-width: 25px;
  height: 32px;
}
.rate-wrapper .review-form {
  margin-bottom: 2em;
}
.rate-wrapper .review-form textarea,
.rate-wrapper .review-form input {
  border: 1px solid #686767;
}
.rate-wrapper .review-form div + div {
  margin-top: 1em;
}
.rate-wrapper .review-form label {
  margin-bottom: 0.5em;
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
}
.rate-wrapper .review-form #review {
  padding: 1em;
  border-radius: 6px;
  width: 100%;
  height: 130px;
}
.rate-wrapper .review-form #review::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}
.rate-wrapper .review-form #username {
  display: block;
  border-radius: 4px;
  padding: 0.4em 1em;
  font-size: 1.3rem;
  width: min(100%, 280px);
}
.rate-wrapper .review-form .submit-btn {
  background-color: #dc1f1f;
  border-radius: 4px;
  color: white;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
  border: none;
  display: block;
  margin-left: auto;
  margin-top: 1em;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.rate-wrapper .review-form .submit-btn--disabled {
  background-color: #ca4f4f;
  pointer-events: none;
}
.rate-wrapper .review-form .required-arterisk {
  color: red;
  font-size: 2rem;
  font-weight: 900;
}
.rate-wrapper .review-form .error {
  color: #dc1f1f;
  font-size: 1.4rem;
  font-weight: 500;
}
.rate-wrapper .review-form .review-limit-msg {
  font-size: 1.4rem;
  color: #dc1f1f;
  font-weight: 500;
}
.wait-msg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rate-wrapper .wait-msg {
  background: #000000c4;
  opacity: 0.95;
}
.wait-msg img {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*=================================
    Rate Form Modals Styling
===================================*/
.rate-wrapper .confirmation-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000d6;
}
.rate-wrapper .confirmation-modal,
.already-rated-modal {
  background-color: white;
  padding: 1.2em 2em;
  border-radius: 5px;
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 450px;
}
.rate-wrapper .confirmation-modal__buttons {
  display: flex;
  margin-top: 0.5em;
}
.rate-wrapper .confirmation-modal a {
  background-color: #dc1f1f;
  border-radius: 3px;
  color: white;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  font-size: 1.3rem;
}
.rate-wrapper .confirmation-modal a + a {
  margin-left: 0.6em;
}
.already-rated-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333f7;
}
.already-rated-modal {
  max-width: 450px;
  width: max(50%, 300px);
}
.already-rated-modal p {
  line-height: 2.1rem;
}
.already-rated-modal-wrapper .cta-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}
.already-rated-modal-wrapper .cta-btns .exit-btn {
  margin-right: 1em;
}
.already-rated-modal-wrapper .cta-btns a {
  color: white;
  background-color: #dc1f1f;
  padding: 0.35em 0.6em;
  border-radius: 3px;
}

/*===============================
    Edit Reviews Page Styling
===============================*/

.rated-apps-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.rated-apps-wrapper header {
  margin-top: 2em;
}
.rated-apps-wrapper header .breadcrumbs {
  margin: 0 auto;
}
.rated-apps-wrapper .ratings-h {
  text-align: center;
  margin: 1.5em 0;
}
.rated-apps-wrapper .past-review {
  margin-bottom: 3em;
}
.rated-apps-wrapper .past-review__software .software__logo {
  width: 60px;
  height: 60px;
  min-width: 60px;
}
.rated-apps-wrapper .past-review .no-change-msg {
  color: #dc1f1f;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1em;
}
.rated-apps-wrapper .past-review__form {
  position: relative;
}
.rated-apps-wrapper .past-review__basic-info-and-ctas {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.rated-apps-wrapper .past-review__ctas {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
}

.rated-apps-wrapper .past-review__ctas img {
  width: 28px;
  height: 28px;
}

.rated-apps-wrapper .past-review__ctas__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.rated-apps-wrapper .past-review__ctas .edit-btn,
.rated-apps-wrapper .past-review__ctas .cancel-btn {
  margin-right: 2em;
}
.rated-apps-wrapper .past-review__ctas .save-btn,
.rated-apps-wrapper .past-review__ctas .cancel-btn {
  background-color: #dc1f1f;
  padding: 0.5em;
  border-radius: 4px;
  color: white;
  font-size: 1.4rem;
}
.rated-apps-wrapper .past-review .stars-list {
  margin: 1em 0;
}
.rated-apps-wrapper .past-review .stars-list-parent {
  position: relative;
}
.rated-apps-wrapper .past-review .stars-list-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.rated-apps-wrapper .past-review .stars-list .star {
  width: 22px;
  height: 22px;
  min-width: 22px;
}
.rated-apps-wrapper .past-review .stars-list .star--button {
  filter: drop-shadow(2px 4px 4px #bdbdbd);
}
.rated-apps-wrapper .past-review .stars-list li + li {
  margin-left: 0.3em;
}
.rated-apps-wrapper .past-review__software .software__review-date {
  font-size: 1.25rem;
}
.rated-apps-wrapper .past-review__text {
  display: block;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  max-height: 100px;
  padding: 0.5em 1em;
  border: 1px solid #cccccc;
  border-radius: 6px;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.rated-apps-wrapper .no-ratings-msg {
  text-align: center;
  margin-top: 3em;
}
.rated-apps-wrapper .pages {
  margin-bottom: 2.5em;
}

/*============================
     Account Page Styling
==============================*/
.account-wrapper .forms label,
.account-wrapper .forms label input,
.account-wrapper .danger-zone__cta input {
  display: block;
}
.account-wrapper input::placeholder {
  font-size: 1.2rem;
}
.account-wrapper button,
input[type='submit'] {
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 3px;
}
.account-wrapper .forms,
.account-wrapper .danger-zone {
  max-width: 550px;
}
.account-wrapper .danger-zone__error-msg,
.account-wrapper .forms .success-msg,
.account-wrapper .forms .error-msg {
  font-size: 1.4rem;
  margin: 0.5em 0;
  font-weight: 700;
}
.account-wrapper .forms .success-msg {
  color: green;
}
.account-wrapper .forms .error-msg,
.account-wrapper .danger-zone__error-msg {
  color: #dc1f1f;
}
.account-wrapper .forms {
  margin: 3em 0;
  display: grid;
  grid-gap: 2.5em;
}
.account-wrapper .forms label {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.6em;
}
.account-wrapper .forms .input-field,
.account-wrapper .danger-zone__cta input {
  border-radius: 5px;
  border: 0.5px solid #686767;
  font-size: 1.4rem;
  padding: 0.5em 1em 0.5em 1.5em;
  width: min(100%, 340px);
}
.account-wrapper .forms .ctas {
  display: flex;
  justify-self: flex-end;
}
.account-wrapper .password-form .ctas {
  grid-row: 1;
  grid-column: 2;
}
.account-wrapper .forms .ctas .save-btn {
  background-color: #3f3d3d;
  margin-right: 1em;
}
.account-wrapper .forms .ctas .cancel-btn {
  background-color: #dc1f1f;
}
.account-wrapper .email-form,
.account-wrapper .password-form,
.account-wrapper .name-form {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  align-items: flex-end;
  grid-gap: 0 1em;
  grid-column: 1/-1;
}
.account-wrapper .password-form {
  grid-gap: 1em;
}
.account-wrapper .name-form .change-btn,
.account-wrapper .password-form .change-btn {
  background-color: #3f3d3d;
}
.account-wrapper .danger-zone {
  margin-bottom: 2em;
}
.account-wrapper .danger-zone__h {
  font-size: 2.2rem;
  font-weight: 700;
  padding-left: 0.8em;
  border-left: 3px solid #dc1f1f;
}
.account-wrapper .danger-zone__delete-h {
  font-size: 1.7rem;
  font-weight: 400;
  margin: 1.5em 0 0.8em 0;
}
.account-wrapper .danger-zone__cta {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.8em;
}
.account-wrapper .danger-zone__delete-btn {
  background-color: #dc1f1f;
  margin-left: 2em;
}
.account-wrapper .danger-zone__delete-btn--disabled {
  background-color: #dc1f1fc7;
  pointer-events: none;
}
.account-wrapper .danger-zone__error-msg {
  border-left: 2px solid;
  padding-left: 1em;
}

.account-wrapper .danger-zone__warning-para {
  font-size: 1.35rem;
  font-weight: 500;
  max-width: 350px;
  line-height: 2rem;
}
.account-wrapper .wait-msg {
  background-color: #2b2929ba;
}

/*===============================
    Not Found Page Stytling
===============================*/

.not-found-wrapper {
  min-height: 100vh;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-wrapper section {
  margin: 0 auto;
  max-width: 500px;
}

.not-found-wrapper .not-found-h {
  text-align: center;
  font-size: 5.4rem;
  font-weight: 400;
  margin-bottom: 0.25em;
}

.not-found-wrapper .not-found-para {
  font-size: 2.5rem;
  line-height: 3.4rem;
  font-weight: 400;
}

.not-found-wrapper .back-link--text {
  display: inline-block;
  color: #dc1f1f;
  text-decoration: underline;
}

.not-found-wrapper .back-link--btn {
  margin-top: 1.5em;
  padding: 0.5em 1em;
  background: #dc1f1f;
  color: white;
  border-radius: 4px;
}

/*=================================
    SignIn / SignUpPage Stytling
==================================*/

.gateway-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gateway-wrapper .gateway-form-section {
  width: min(350px, 100%);
  margin: 0 0.5em;
  font-size: 1.4rem;
}

.gateway-wrapper .gateway-para,
.gateway-wrapper .gateway-form {
  padding-left: 2.5em;
}
.gateway-wrapper .back-link {
  margin-bottom: 2em;
  font-size: 1.6rem;
}

.gateway-wrapper .gateway-form {
  border-left: 3px solid #dc1f1f;
}

.gateway-wrapper .gateway-form .main-h {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0.6em;
}

.gateway-wrapper .gateway-form div {
  display: grid;
  grid-gap: 0.5em;
}

.gateway-wrapper .gateway-form label {
  font-weight: 700;
}

.gateway-wrapper .gateway-form div input {
  border: 0.5px solid #686767;
  border-radius: 5px;
  padding: 0.55em 1em;
}

.gateway-wrapper .gateway-form div + div {
  margin-top: 1.5em;
}

.gateway-wrapper .gateway-form input::placeholder {
  font-weight: 300;
  color: #5e5e5e;
  font-size: 1.2rem;
}

.gateway-wrapper .gateway-para .signin-link,
.gateway-wrapper .gateway-para .signup-link {
  display: inline-block;
}

.gateway-wrapper .gateway-form .submit-btn {
  background-color: #dc1f1f;
  color: white;
  font-weight: 500;
  padding: 0.6em 1em;
  border-radius: 4px;
  margin-left: auto;
  display: block;
  margin-top: 1.5em;
  border: none;
}

.gateway-form__error {
  color: #dc1f1f;
  font-weight: 700;
  font-size: 1.35rem;
  margin-top: 1em;
  line-height: 1.9rem;
}

.gateway-wrapper .gateway-para {
  margin-top: 1em;
  border-left: 3px solid white;
}

.email-verification-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000bf;
}

.email-verification-modal {
  background-color: #fdfdfd;
  padding: 1em;
  border-radius: 5px;
  max-width: 400px;
  font-size: 1.4rem;
}

.email-verification-modal p {
  line-height: 2rem;
}

.email-verification-modal a {
  background-color: #dc1f1f;
  color: white;
  padding: 0.4em 1em;
  border-radius: 4px;
  margin-top: 1.5em;
  width: 100%;
  text-align: center;
}

.gateway-wrapper .wait-msg {
  background-color: #000000b3;
}

/*========================
    Media Queries
==========================*/
@media (max-width: 900px) {
  .main-wrapper .softwares-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .software-details-wrapper .software-description-and-rating {
    grid-template-columns: 1fr;
  }
  .software-details-wrapper .software-rating {
    margin: 2.5em 0 0 0;
  }
}
@media (max-width: 650px) {
  .main-header {
    margin: 0 0 1.5em 0;
  }

  .software-details-wrapper .software .feedback-content {
    flex-direction: column;
  }
  .software-details-wrapper .software .feedback-content .rate-link {
    margin: 0.7em 0 0 0;
  }
  .reviews-wrapper .review,
  .software-details-wrapper .review {
    background-color: white;
    border-radius: 0;
    padding: 0;
  }
}
@media (max-width: 400px) {
  .wrapper {
    width: 90%;
  }
  .main-wrapper .account__options {
    right: -5px;
  }
  .main-wrapper .search {
    width: 100%;
  }
  .main-wrapper .softwares-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  }
  .main-wrapper .software img {
    width: 50px;
  }

  .software-details-wrapper .reviews,
  .reviews-wrapper .reviews {
    text-align: center;
  }
  .software-details-wrapper .reviews .rate-link,
  .reviews-wrapper .reviews .rate-link {
    margin: 0 auto;
  }
  .reviews-wrapper .review,
  .software-details-wrapper .review {
    text-align: left;
  }
  .software-details-wrapper .review__info .review-date,
  .reviews-wrapper .review__info .review-date {
    margin-left: 2rem;
  }

  .software-details-wrapper .breadcrumbs {
    margin: 0 auto;
  }
  .software-details-wrapper .software-description-and-rating {
    text-align: center;
  }
  .software-details-wrapper .software {
    justify-content: center;
  }
  .software-details-wrapper .software .feedback-content {
    grid-column: 1/-1;
    align-items: center;
  }
  .software-details-wrapper .software-rating {
    max-width: initial;
  }
  .software-details-wrapper .software-rating .average-rating {
    flex-direction: column;
    align-items: center;
    margin: 0.5em 0;
  }
  .software-details-wrapper .software-rating .stars-list {
    margin: 0.2em 0 0.2em 0;
  }
  .software-details-wrapper .reviews .review-feedback-content {
    justify-content: center;
  }
  .software-details-wrapper .reviews-link--bottom {
    margin: 2em auto 0 auto;
  }
  .reviews-wrapper .reviews .reviews__info {
    align-items: center;
    margin-top: 2em;
    flex-direction: column-reverse;
  }
  .reviews-wrapper .filter-rating-form {
    margin: 0 0 1em 0;
  }
  .rate-wrapper .rate .stars-list li + li {
    margin-left: 0.5em;
  }
  .rate-wrapper .review-form #review {
    height: 200px;
  }
  .gateway-wrapper .gateway-form,
  .gateway-wrapper .gateway-para {
    border-left: none;
    padding-left: 0;
  }
  .already-rated-modal {
    width: 100%;
  }
  .already-rated-modal .cta-btns {
    flex-direction: column;
  }
  .already-rated-modal .cta-btns a {
    width: 100%;
    text-align: center;
  }
  .already-rated-modal .cta-btns .exit-btn {
    margin: 0 0 0.5em 0;
  }
  .rated-apps-wrapper .past-review__basic-info-and-ctas {
    align-items: initial;
    flex-direction: column;
  }
  .rated-apps-wrapper .past-review__ctas {
    display: flex;
    margin-top: 1em;
  }
  .account-wrapper .email-form,
  .account-wrapper .password-form,
  .account-wrapper .name-form {
    grid-gap: 1em 0;
    grid-template-columns: initial;
  }
  .account-wrapper .password-form .ctas {
    grid-row: initial;
    grid-column: initial;
  }
}
@media (max-width: 250px) {
  .reviews-wrapper .software,
  .software-details-wrapper .software,
  .rate-wrapper .software {
    grid-gap: 0.8em;
  }

  .software-details-wrapper .software-rating .stars-list li {
    width: 22.5px;
  }
  .software-details-wrapper .software-rating .stars-list li + li {
    margin-left: 0.4em;
  }

  .reviews-wrapper,
  .rated-apps-wrapper,
  .pages__list .page {
    min-width: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
